<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/header.ejs')%>

    <body class="container-body">
        <div class="d-flex">
            <%- include('../partials/nav.ejs')%>
            <div class="col-11 container-conteudo">
                <div class="container-conteudo">
                    <div class="row usuarios-top d-flex justify-content-between">
                        <div class="titulo col-8">
                            <h2>Gerenciamento de salas</h2>
                        </div>
                        <div class="botao d-flex justify-content-end col-3">
                            <button type="button" class="btn" data-bs-target="#addSala"
                                data-bs-toggle="modal">Adicionar</button>
                        </div>

                            <%- include('../salas/create.ejs', {predios}) %>

                            <div class="predio mt-5">
                                <h4>Prédios</h4>
                                <div class="form-check check mt-4">
                                    <% predios.forEach(predio=> { %>
                                        <% if(predio === predios[0]){ %>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox<%= predio.id %>" value="<%= predio.id %>" name="teste" checked onchange="updateTable(this)">
                                                <label class="form-check-label" for="inlineCheckbox<%= predio.id %>">
                                                    <%= predio.nome %>
                                                </label>
                                            </div>
                                        <% } else{ %>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox<%= predio.id %>" value="<%= predio.id %>" name="teste"  onchange="updateTable(this)">
                                                <label class="form-check-label" for="inlineCheckbox<%= predio.id %>">
                                                    <%= predio.nome %>
                                                </label>
                                            </div>
                                        <% } %>
                                    <% }) %>
                                </div>
                            </div>

                            <div class="row salas mt-5 justify-content-center">
                                <div id="salasContainerPredios" class="col-8 mt-3">
                                    <table class="table table-borderless usuarios-tabela table-sm">
                                        <tbody id="salaTables">
                                            <% predios[0].salas.forEach(sala=> { %>
                                                <tr>
                                                    <td class="col-10"> 
                                                        <a href="/predio/<%= sala.predio_id %>/sala/<%= sala.id %>">
                                                            <%= sala.nome %>
                                                        </a>
                                                    </td>
                                                    <td class="text-end">
                                                        <a href="" data-bs-toggle="modal" data-bs-target="#excluir_<%= sala.id %>">
                                                            <box-icon name='trash' color='#ff0000'></box-icon>
                                                        </a>
                                                    </td>
                                                    <td class="text-end">
                                                        <a href="" data-bs-toggle="modal" data-bs-target="#editSala_<%= sala.id %>">
                                                            <box-icon name='edit-alt' color='#ffb43f'></box-icon>
                                                        </a>
                                                    </td>

                                                    <%- include('remove.ejs', { sala }) %>
                                                    <%- include('../salas/edit.ejs', { sala, predios }) %>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        // ATUALIZA SALAS
        var predios = JSON.parse('<%- JSON.stringify(predios) %>');

        function updateTable(select) {
            var selectedPredioId = select.value;

            //Limpando a tabela
            var salasTable = document.getElementById('salaTables')
            salasTable.innerHTML = "";

            var predioSelecionado = predios.find((predio) => {
                return predio.id == selectedPredioId;
            })

            console.log(predioSelecionado);

            predioSelecionado.salas.forEach(function (sala) {
                var row = document.createElement('tr')

                var cell = document.createElement('td')
                var linkSala = document.createElement('a')
                linkSala.href = `/predio/${selectedPredioId}/sala/${sala.id}`
                linkSala.innerText = sala.nome
                cell.appendChild(linkSala);
                cell.classList.add('col-10')
                row.appendChild(cell)

                // Adiciona um link de exclusão em outra célula
                var cellExcluir = document.createElement('td');
                var linkExcluir = document.createElement('a');
                linkExcluir.href = "";
                linkExcluir.dataset.bsToggle = "modal";
                linkExcluir.dataset.bsTarget = "#excluir_" + sala.id;
                linkExcluir.innerHTML = "<box-icon name='trash' color='#ff0000' ></box-icon>";
                cellExcluir.appendChild(linkExcluir);
                cellExcluir.classList.add('text-end')
                row.appendChild(cellExcluir);

                // Adiciona um link de edição em outra célula
                var cellEditar = document.createElement('td');
                var linkEditar = document.createElement('a');
                linkEditar.href = "";
                linkEditar.dataset.bsToggle = "modal";
                linkEditar.dataset.bsTarget = "#edit_" + sala.id;
                linkEditar.innerHTML = "<box-icon name='edit-alt' color='#ffb43f' ></box-icon>";
                cellEditar.appendChild(linkEditar);
                cellEditar.classList.add('text-end')
                row.appendChild(cellEditar);


                // Adiciona a linha à tabela
                salasTable.appendChild(row);
            })
        }
    </script>

    <script>
        //Seleção do menu
        var selecionado = document.getElementById('gerenciamento');
        selecionado.classList.add('menu-selecionado');
    </script>

</html>