<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/header.ejs')%>

    <body class="container-fluid">

        <div class="row d-flex">
            <%- include('../partials/nav.ejs')%>
                <div class="col-11 container-conteudo">
                    <div class="container-conteudo">
                        <div class="row usuarios-top d-flex justify-content-between">
                            <div class="titulo d-flex justify-content-start col-8">
                                <h2>Gerenciamento de salas</h2>
                            </div>
                            <div class="botao d-flex justify-content-end col-3">
                                <button type="button" class="btn" data-bs-target="#addSala"
                                    data-bs-toggle="modal">Adicionar</button>
                            </div>

                            <%- include('./create', {predios}) %>

                                <div class="row predio s mt-5 col-4">
                                    <h4>Prédios</h4>
                                    <select id="selectPredio" class="form-select" onchange="updateTable(this)">
                                        <% predios.forEach(predio=> { %>
                                            <option value="<%= predio.id %>">
                                                <%= predio.nome %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div id="salasContainer" class="row salas mt-5 justify-content-between">
                                    <table class="table usuarios-tabela table-sm mt-5 text-center">
                                        <tbody id="salaTables">
                                            <% var index=0 %>
                                                <% predios[index].salas.forEach(sala=> { %>
                                                    <tr>
                                                        <td>
                                                            <a href="/predio/sala/<%= sala.id %>">
                                                                <%= sala.nome %>
                                                            </a>
                                                        </td>
                                                        <td><a href="" data-bs-toggle="modal"
                                                                data-bs-target="#excluir_<%= sala.id %>"><box-icon
                                                                    name='trash-alt' type='solid'
                                                                    color='#ff6467'></box-icon></a>
                                                        </td>
                                                        <td><a href="" data-bs-toggle="modal"
                                                                data-bs-target="#editSala_<%= sala.id %>">
                                                                <box-icon name='edit-alt' type='solid'
                                                                    color='#fcff64'></box-icon>
                                                            </a>
                                                        </td>
                                                        <%- include('./components/editSala.ejs', {salaId: sala.id}) %>
                                                    </tr>
                                                    <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <script>
        // ATUALIZA SALAS
        var predios = JSON.parse('<%- JSON.stringify(predios) %>');

        function updateTable(select) {
            var selectedPredioId = select.value;

            var salasTable = document.getElementById('salaTables')
            salasTable.innerHTML = "";

            predioSelecionado.salas.forEach(function (sala) {
                var row = document.createElement('tr')

                var cell = document.createElement('td')
                cell.textContent = sala.nome

                row.appendChild(cell)

                // Adiciona um link de exclusão em outra célula
                var cellExcluir = document.createElement('td');
                var linkExcluir = document.createElement('a');
                linkExcluir.href = "";
                linkExcluir.dataset.bsToggle = "modal";
                linkExcluir.dataset.bsTarget = "#excluir_" + sala.id;
                linkExcluir.innerHTML = "<box-icon name='trash-alt' type='solid' color='#ff6467'></box-icon>";
                cellExcluir.appendChild(linkExcluir);
                row.appendChild(cellExcluir);

                // Adiciona um link de edição em outra célula
                var cellEditar = document.createElement('td');
                var linkEditar = document.createElement('a');
                linkEditar.href = "";
                linkEditar.dataset.bsToggle = "modal";
                linkEditar.dataset.bsTarget = "#edit_" + sala.id;
                linkEditar.innerHTML = "<box-icon name='edit-alt' type='solid' color='#fcff64'></box-icon>";
                cellEditar.appendChild(linkEditar);
                row.appendChild(cellEditar);

                // Adiciona a linha à tabela
                salaTables.appendChild(row);
            })
        }
    </script>

</html>