<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/header.ejs')%>

    <body class="container-body">

        <div class="d-flex">
            <%- include('../partials/nav.ejs')%>

            <div class="col-11 container-conteudo">
                <div class="container-conteudo">
                    <div class="row hitorico d-flex justify-content-between">
                        <div class="titulo d-flex justify-content-start col-8">
                            <h2>Histórico</h2>
                        </div>

                        <table class="table table-hover  text-center mt-5">
                            <thead>
                                <tr>
                                    <th scope="col">USUÁRIO</th>
                                    <th scope="col">NICK</th>
                                    <th scope="col">AÇÃO</th>
                                    <th scope="col">DATA</th>
                                    <th scope="col">HORA</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <% if (logs) { %>
                                    <% logs.reverse() %>
                                    <% logs.forEach(log=> { %>
                                        <tr>
                                            <td> <%= log.usuario.nome %> </td>
                                            <td> <%= log.usuario.nickname %> </td>
                                            <td> <%= log.descricao %> </td>
                                            <% const data = new Date(log.createdAt) %>
                                            <td> <%= data.toLocaleDateString('pt-br', {year:"numeric", month:"long", day:"numeric"}) %> </td>
                                            <td> <%= data.toLocaleTimeString('pt-br', {hour:"numeric", minute:"numeric"}) %> </td>
                                        </tr>
                                    <% }) %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>

<script>
    //Seleção do menu
    var selecionado = document.getElementById('historico');
    selecionado.classList.add('menu-selecionado');
</script>