<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/header.ejs')%>

    <body class="container-fluid">
        <div class="row d-flex">
            <%- include('./partials/nav.ejs')%>
                <div class="col-11 container-conteudo">
                    <div class="container-conteudo row justify-content-between">
                        <div class="saudacao col-10">
                            <h4>Bem vindo</h4>
                            <strong>
                                <h2>
                                    <%= user.nome %>
                                </h2>
                            </strong>
                            <p>IFNMG Campus Montes Claros - 45°C (Quente pra caramba) </p>
                        </div>
                        <div class="img-perfil col-2">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnrcsJrkoOqVa5zJ4dmMyzo0QU1vRzqGnObnm-KfFln7XGJlVoeQEVPAKo_GaYDR3OXJs&usqp=CAU"
                                alt="" width="100%">
                        </div>

                        <div class="row controle-ar justify-content-center flex-wrap mt-5">
                            <div class="card col-8">
                                <div class="row justify-content-between pt-2 pb-2">
                                    <div class="col-5 identificacao d-flex align-items-center justify-content-start">
                                        <span><strong>Sala 17 - Prédio 04</strong></span>
                                    </div>
                                    <div class="col-2 onoff text-center">
                                        <span>
                                            <button class="btn btn-primary" onclick="enviarComando()"
                                                type="submit">ON</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row justify-content-evenly infor-ar">
                                    <div class="col-5 ar1 d-flex justify-content-start">
                                        <p><strong>Komeko</strong></p>
                                        <p class="temperatura"><strong>35 °C</strong></p>
                                    </div>
                                    <div class="col-auto d-flex divisoria justify-content-center">
                                        <div class="vr" style="height: 95%;"></div>
                                    </div>
                                    <div class="col-5 ar2 d-flex justify-content-start">
                                        <p><strong>Komeko</strong></p>
                                        <p class="temperatura"><strong>35 °C</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row predios mt-5 col-4">
                            <select id="selectPredio" class="form-select">
                                <% predios.forEach(element=> { %>
                                    <option value="<%= element.id %>">
                                        <%= element.nome %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div id="salasContainer" class="row salas mt-5 justify-content-between">
                            <% var index=0 %>
                                <% predios[index].salas.forEach(element=> { %>
                                    <div class="card sala d-flex text-center p-2">
                                        <%= element.nome %>
                                    </div>
                                    <% }) %>
                        </div>

                    </div>
                </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

        <script>
            // Inicializa os popovers
            var popovers = new bootstrap.Popover(document.body, {
                selector: '[data-bs-toggle="popover"]',
                container: 'body',
                trigger: 'hover'
            });
        </script>

        <script>
            // ATUALIZA SALAS
            var predios = JSON.parse('<%- JSON.stringify(predios) %>');

            document.getElementById('selectPredio').addEventListener('change', function () {
                var selectedPredioId = this.value;

                var predioSelecionado = predios.find(function (predio) {
                    return predio.id == selectedPredioId;
                });


                document.getElementById('salasContainer').innerHTML = "";
                predioSelecionado.salas.forEach(function (sala) {
                    var salaElement = document.createElement('div');
                    salaElement.className = 'card sala d-flex text-center p-2';
                    salaElement.textContent = sala.nome;

                    document.getElementById('salasContainer').appendChild(salaElement);
                });
            });
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();

            socket.on('eventoTeste', () => {
                console.log("Chamou o evento corretamente")
            })

            function enviarComando() {
                const id_controlador = '123456789'
                const ares = [{ marca: 'Philco', modelo: 'A', temperatura: 21 }, { marca: 'Komeco', modelo: 'B', temperatura: 16 }]
                socket.emit('enviarComandoAr', { id_controlador, ares })
                // socket.emit('button', id);
                // socket.emit('registrarControlador', id_controlador);
                // socket.emit('enviarComando', comando);
            }
        </script>

        <script>
            // Inicializa os popovers
            var popovers = new bootstrap.Popover(document.body, {
                selector: '[data-bs-toggle="popover"]',
                container: 'body',
                trigger: 'hover'
            });
        </script>

    </body>

</html>