<div class="modal fade" id="editaPredios" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Alterar Prédios</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <% predios.forEach(predio=> { %>
                        <div class="row">
                            <form action="/predio/update/<%= predio.id %>" method="post" class="d-flex justify-content-between">
                                <div class="col-auto">
                                    <span id="predio_<%= predio.id %>"><%= predio.nome %></span>
                                    <input name="nome" class="p-1 rounded-1 border-0" id="input_predio_<%= predio.id %>" type="text" onfocusout="cancelar('<%= predio.id %>')" hidden required minlength="3" maxlength="50">
                                </div>
                                <div class="col-auto">
                                    <box-icon id="<%= predio.id %>" onclick="edita(this)" name='rename' color='#7964ff'></box-icon>
                                    <box-icon id="excluir_predio_<%= predio.id %>" name='x' color='#7964ff' ></box-icon>
                                    <button type="submit" id="confirma_edita_<%= predio.id %>" onclick="edita(this)" class="border-0 bg-transparent p-0" hidden></button>
                                </div>
                            </form>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>                    
    </div>   
</div>
    


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkboxNovoPredio = document.getElementById("novoPredio");

        checkboxNovoPredio.addEventListener("change", handleNovoPredio);
        const selectPredio = document.getElementById("selectPredio");
        const inputNomeNovoPredio = document.getElementById("nomeNovoPredio");
        
        function handleNovoPredio() {

            if (checkboxNovoPredio.checked) {
                selectPredio.disabled = true;
                selectPredio.required = false;
                inputNomeNovoPredio.required = true;
            } else {
                selectPredio.disabled = false;
                selectPredio.required = true;
                inputNomeNovoPredio.required = false;
            }
        }
    });

    function edita(obj_predio){
        const predio_id = obj_predio.id;
        const input_predio = document.getElementById(`input_predio_${predio_id}`);
        const predio = document.getElementById(`predio_${predio_id}`);

        predio.setAttribute('hidden', '');
        input_predio.value = predio.textContent;
        input_predio.removeAttribute('hidden');
        input_predio.focus();
        const length = input_predio.value.length;
        input_predio.setSelectionRange(length, length);
        document.getElementById(predio_id).setAttribute('hidden', '');
        document.getElementById(`excluir_predio_${predio_id}`).setAttribute('hidden', '');
    }

    function cancelar(obj_predio){
        const predio_id = obj_predio;
        const input_predio = document.getElementById(`input_predio_${predio_id}`);
        const predio = document.getElementById(`predio_${predio_id}`);

        predio.removeAttribute('hidden');
        input_predio.setAttribute('hidden', '');
        document.getElementById(predio_id).removeAttribute('hidden');
        document.getElementById(`excluir_predio_${predio_id}`).removeAttribute('hidden');
    }
</script>