<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/header.ejs')%>

    <body class="container-fluid">

        <div class="row d-flex">
            <%- include('../partials/nav.ejs')%>
                <div class="col-11 container-conteudo">
                    <div class="container-conteudo">
                        <p>Prédio <%= sala.predio.nome %>
                                </p=>
                                <div class="row usuarios-top d-flex justify-content-between">
                                    <div class="titulo d-flex justify-content-start col-8">
                                        <h2>Gerenciamento da sala: <%= sala.nome %>
                                        </h2>
                                    </div>
                                    <div class="botao d-flex justify-content-end col-3">
                                        <button type="button" class="btn" data-bs-target="#addArCondicioando"
                                            data-bs-toggle="modal">Adicionar</button>
                                    </div>
                                    <%- include('../arCondicionado/create.ejs', { controladores, marcas, sala }) %>

                                        <div class="row gap-5">
                                            <% if (sala.ares_condicionados.length> 0) { %>
                                                <% sala.ares_condicionados.forEach(ar=> { %>
                                                    <div class="card mt-5" style="width: 25rem; height: 13rem;">
                                                        <div class="card-body">
                                                            <div class="d-flex">
                                                                <div class="flex-fill">
                                                                    <h3 class="card-title">
                                                                        <%= ar.nome %>
                                                                    </h3>
                                                                </div>
                                                                <div class="d-flex flex-column">
                                                                    <span class="fw-light fst-italic">Marca:<%= ar.modelo.marca.nome %></span>
                                                                </div>
                                                            </div>
                                                            
                                                            <div id="controladores" class="card ps-2 pt-2"
                                                                style="width: 100%;">
                                                                <h5>Controlador</h5>
                                                                <p class="font-monospace">
                                                                    <% if (ar.controlador != null) { %>
                                                                        <%= ar.controlador.macAddress %>
                                                                    <% } else { %>
                                                                        <span>Sem controlador</span>
                                                                    <% } %>
                                                                </p>
                                                            </div>

                                                            <div class="d-flex justify-content-evenly mt-3">
                                                                <a href="" data-bs-toggle="modal"
                                                                    data-bs-target="#excluirArCondicionado"
                                                                    data-bs-whatever="<%= ar.id %>">
                                                                    <box-icon name='trash-alt' type='solid'
                                                                        color='#ff6467'></box-icon>
                                                                </a>
                                                                <a href="" data-bs-toggle="modal"
                                                                    data-bs-target="#editArCondicionado"
                                                                    data-bs-whatever="<%= ar.id %>">
                                                                    <box-icon name='edit-alt' type='solid'
                                                                        color='#fcff64'></box-icon>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }) %>
                                                <% } else { %>
                                                    <div>
                                                        <p>Não há aparelhos cadastrados!</p>
                                                    </div>
                                                <% } %>
                                            <%- include('../arCondicionado/edit.ejs', {ares: sala.ares_condicionados, sala}) %>
                                            <%- include('../arCondicionado/remove.ejs', {ares: sala.ares_condicionados, sala}) %>
                                        </div>
                                        <div>
                                        </div>

                                </div>
                    </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <script>

        const editModal = document.getElementById('editArCondicionado')
        const excluirModal = document.getElementById('excluirArCondicionado')
        if (editModal) {
            editModal.addEventListener('show.bs.modal', event => {

                const button = event.relatedTarget
                const arCondicionadoId = button.getAttribute('data-bs-whatever')

                editModal.setAttribute('data-bs-id', arCondicionadoId)
            })
        }
        if (excluirModal) {
            excluirModal.addEventListener('show.bs.modal', event => {

                const button = event.relatedTarget
                const arCondicionadoId = button.getAttribute('data-bs-whatever')

                excluirModal.setAttribute('data-bs-id', arCondicionadoId)
            })
        }
    </script>

</html>