<div class="card mt-5 grade-horarios p-3">
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"><%= semana[0].nome.toUpperCase() %></th>
                <th scope="col"><%= semana[1].nome.toUpperCase() %></th>
                <th scope="col"><%= semana[2].nome.toUpperCase() %></th>
                <th scope="col"><%= semana[3].nome.toUpperCase() %></th>
                <th scope="col"><%= semana[4].nome.toUpperCase() %></th>
            </tr>
        </thead>
        <tbody id="tabela">
            <tr>
                <th scope="row"> <%= horarios[0].horario_ini %></th>
                <td><%= usuarios[0].nome %></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <th scope="row"> <%= horarios[1].horario_ini %></th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <th scope="row"> <%= horarios[2].horario_ini %></th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <th scope="row"> <%= horarios[3].horario_ini %></th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <th scope="row"> <%= horarios[4].horario_ini %></th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <th scope="row"> <%= horarios[5].horario_ini %></th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <th scope="row"> <%= horarios[6].horario_ini %></th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <th scope="row"> <%= horarios[7].horario_ini %></th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</div>