<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/header.ejs')%>
    
    <%- include('./escolherCurso') %>
    
    <body class="container-body">
        
        <div class="d-flex">
            <%- include('../partials/nav.ejs')%>
            <div class="col-10 container-conteudo">
                <div class="container-conteudo">
                    <div class="row usuarios-top d-flex justify-content-between">
                        <div class="titulo d-flex justify-content-start col-8">
                            <h2>Usuários</h2>
                        </div>
                        <div class="botao d-flex justify-content-end col-3">
                            <button type="button" class="btn" data-bs-target="#adicionaUsuario"
                            data-bs-toggle="modal">Adicionar</button>
                        </div>

                        <%- include('./create') %>

                    </div>
                    <div class="row usuarios-pesquisa mt-5 d-flex justify-content-center">
                        <div class="input-pesquisa col-5">
                            <div class="input-group">
                                <input autocomplete="off" type="text" class="form-control" placeholder="Pesquisar..." aria-label="Username" aria-describedby="basic-addon1">
                                <span class="input-group-text" id="basic-addon1">
                                    <box-icon name='search' color='#7964ff'></box-icon>
                                </span>
                            </div>
                        </div>  
                    </div>
                    <div id="usuariosContainer" class="mt-5">
                        <table class="table table-borderless usuarios-tabela table-sm m-0">
                            <tbody>
                                <% usuarios.forEach(usuario=> { %>
                                    <tr>
                                        <td>
                                            <%= usuario.nome %>
                                        </td>
                                        <td>
                                            <% if (usuario.credencial) { %>
                                                <%= usuario.credencial.email %>
                                            <% } else { %>
                                
                                                    INATIVO
                                            
                                            <%}%>
                                        </td>
                                        <% if (usuario.credencial) { %>
                                            <%- include('./remove', {usuarioId: usuario.id, nome: usuario.nome}) %>
                                            <td class="text-end">
                                                <a href="" data-bs-toggle="modal" data-bs-target="#excluir_<%= usuario.id %>">
                                                    <box-icon name='user-minus' color='#ff1800' ></box-icon>
                                                </a>
                                            </td>
                                            <% } else { %>

                                                <%- include('./ativaUsuario', {usuarioId: usuario.id, nome: usuario.nome}) %>
                                                
                                                <td class="d-flex justify-content-end">
                                                    <!-- TODO: COLOCAR ELEMNTO DE RESTORE -->
                                                    <a href="" data-bs-toggle="modal" type="submit" data-bs-target="#ativar_<%= usuario.id %>">
                                                        <box-icon name='user-plus' color='#15d23a' ></box-icon>
                                                    </a>
                                                </td>
                                            <% } %>
                                        <% if (usuario.credencial) { %>
                                            <%- include('./edit', { usuario, areasUsuario: usuario.areas, areas }) %>
                                            <%- include('./updatePassword', {usuario}) %>
                                        <% } %>
                                        <td class="text-end">
                                            <a href="" data-bs-toggle="modal" data-bs-target="#edit_<%= usuario.id %>">
                                                <box-icon name='edit-alt' color='#ffb43f'></box-icon>
                                            </a>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            //Seleção do menu
            var selecionado = document.getElementById('usuarios');
            selecionado.classList.add('menu-selecionado');
        </script>

    </body>

</html>

<style>
    .icon-enable{
        padding: 0px !important;
        width: min-content;
    }
    .icon-enable button{
        padding: 0px !important;
        border: none !important;
        background-color: transparent !important;
    }
    .icon-enable button:hover{
        background: none !important;
    }
</style>