
<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/header.ejs') %>
<body class="container-body">

    <div id="body" class="d-flex row">

            <%- include('../partials/nav.ejs') %>
            <%# include('../partials/nav-mobile.ejs') %> 
            <div>
                <%- include('../partials/nav-top-mobile.ejs') %>
            </div>
           <div class="col container-conteudo">
                <div class="container-conteudo row justify-content-between">

                    <div class="saudacao col-10">
                        <h4>Bem vindo</h4>
                        <strong><h2><%= user.nome %></h2></strong>
                        <p>IFNMG Campus Montes Claros </p>
                    </div>

                
                    <img src="https://thumbs.dreamstime.com/b/%C3%ADcone-roxo-fino-do-usu%C3%A1rio-sinal-linear-inclina%C3%A7%C3%A3o-136856587.jpg" width="100" class="border border-3 rounded-circle img-perfil p-0 bg-white">

                    
                    <input id="id_controlador" type="hidden" value="">
                    <input id="id_arcondicionado" type="hidden" value="">

                    <div class="row controle-ar justify-content-center mt-5">
                        <div id="controle-individual" class="card col-8 p-2">
                            <div class="row justify-content-between pt-2 pb-2">
                                <div class="col-5 identificacao d-flex align-items-center justify-content-start">
                                    <% if (predios.length > 0 && predios[0].salas && predios[0].salas.length > 0) { %>
                                        <span id="span1"><%= predios[0].salas[0].nome %> - <%= predios[0].nome %></span>
                                    <% } else { %>
                                        <span id="span1">Dados indisponíveis</span>
                                    <% } %>
                                </div>
                                <div class="col-5 nome d-flex align-items-center justify-content-end">
                                    <span>Temperatura Padrão: 22°C</span>
                                </div>
                            </div>

                            <div class="row justify-content-evenly infor-ar">
                                <% if(predios.length > 0 && predios[0].salas && predios[0].salas.length > 0 && predios[0].salas[0].ares_condicionados[0]) { %>
                                    <div id="seletorAr1" onclick="alteraIdDivSelecionada(<%= predios[0].salas[0].ares_condicionados[0].id %>, 'id_controlador1', 'id_ar_condicionado1')" class="col-5 ar1 d-flex justify-content-start" data-bs-target="#alterarAr" data-bs-toggle="modal">
                                        <p><strong id="nome_ar1"><%= predios[0].salas[0].ares_condicionados[0].nome %></strong></p>
                                        <% if(predios[0].salas[0].ares_condicionados[0].controlador) { %>
                                            <input id="id_ar_condicionado1" type="hidden" value="<%= predios[0].salas[0].ares_condicionados[0].id %>">
                                            <input id="id_controlador1" type="hidden" value="<%= predios[0].salas[0].ares_condicionados[0].controlador.macAddress %>">
                                        <% } %>
                                        <% 
                                            const tempRaw = predios?.[0]?.salas?.[0]?.ares_condicionados?.[0]?.estado?.temp || 'off';
                                            const tempValue = tempRaw === 'off' ? 'off' : tempRaw.replace('temp', '') + '°C';
                                        %>
                                         <p id="temp_<%=  predios[0].salas[0].ares_condicionados[0].id %>" class="temperatura"><%= tempValue %> </p>
                                    </div>
                                    <% } %>
                                <div class="col-auto d-flex divisoria justify-content-center">
                                    <div class="vr" style="height: 95%;"></div>
                                </div>
                                <% if(predios.length > 0 && predios[0].salas && predios[0].salas.length > 0 && predios[0].salas[0].ares_condicionados[1]) { %>
                                    <div id="seletorAr2" onclick="alteraIdDivSelecionada(<%= predios[0].salas[0].ares_condicionados[1].id %>, 'id_controlador2', 'id_ar_condicionado2')" class="col-5 ar2 d-flex justify-content-start" data-bs-target="#alterarAr" data-bs-toggle="modal">
                                        <p><strong id="nome_ar2"><%= predios[0].salas[0].ares_condicionados[1].nome %></strong></p>
                                        <% if(predios[0].salas[0].ares_condicionados[1].controlador) { %>
                                            <input id="id_ar_condicionado2" type="hidden" value="<%= predios[0].salas[0].ares_condicionados[1].id %>">
                                            <input id="id_controlador2" type="hidden" value="<%= predios[0].salas[0].ares_condicionados[1].controlador.macAddress %>">
                                        <% } %>
                                        <% 
                                            const tempRaw = predios?.[0]?.salas?.[0]?.ares_condicionados?.[1]?.estado?.temp || 'off';
                                            const tempValue = tempRaw === 'off' ? 'off' : tempRaw.replace('temp', '') + '°C';
                                        %>
                                        <p id="temp_<%= predios[0].salas[0].ares_condicionados[1].id %>" class="temperatura"><%= tempValue %> </p>
                                    </div>
                                <% } %>

                                <div class="modal fade" id="alterarAr" aria-hidden="true" aria-labelledby="alterarArLabel" tabindex="-1">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content d-flex justify-content-center">
                                        <div class="modal-body">
                                            <div id="modal-temperatura" class="position-relative">
                                                <div class="circle">
                                                    <div class="debug2 select-nulo" >
                                                        <input id="rangeAr2" class="form-control" value="18°C" type="text" min="18" max="25" step="1" onmousedown="return false;" >
                                                    </div>
                                                    <div class="dot2"></div>
                                                </div>
                                            </div>
                                                <div class="excluir-bottom d-flex justify-content-around text-center mt-4">
                                                    <button data-bs-dismiss="modal" onclick="altera()" class="btn excluir-confirma">ALTERAR</button>
                                                    <button class="btn" data-bs-dismiss="modal" onclick="desligarAr()">DESLIGAR</button>
                                                </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="hidden" class="form-range mt-4" id="temperatura2Range" min="18" max="25" step="1" value="25">
                                        </div>
                                    </div>
                                </div>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card Temperatura - Mobile -->

                    <div class="temperaturaMobile">
                        <%  if(predios.length > 0 && predios[0].salas && predios[0].salas.length > 0) { 
                            predios[0].salas[0].ares_condicionados.forEach(function(arCondicionado, index) { %>
                            <div id="controleArMobile<%= index + 1 %>" class="controleArMobile<%= index + 1 %> mt-<%= index + 3 %>">
                                <div class="card-temperatura<%= index + 1 %> d-flex position-relative justify-content-center col-12">
                                    <div class="card card-temperatura<%= index + 1 %> p-3 col-10">
                                        <div class="row">
                                            <h5 class="card-title d-inline col" id="nome_ar_mobile<%= index + 1 %>"><%= arCondicionado.nome  %></h5>
                                            <div class="form-check form-switch col-1">
                                                <input class="form-check-input" type="checkbox" role="switch" data-air-id="<%= arCondicionado.id %>" id="flexSwitchCheckDefault<%= index + 1 %>" onchange="switchMobileChanged(<%= index + 1 %>, <%= arCondicionado.id %>)">
                                            </div>
                                        </div>
                                        <h6 class="card-subtitle mb-2">
                                            <span id="predio_ar<%= index + 1 %>">
                                                <%= predios[0].nome %>
                                            </span> - 
                                            <span id="sala_ar<%= index + 1 %>">
                                                <%= predios[0].salas[0].nome %>
                                            </span>
                                        </h6>
                                        <% if(predios[0].salas[0].ares_condicionados[index].controlador) { %>
                                            <input id="id_ar_condicionado_mobile<%= index + 1 %>" type="hidden" value="<%= predios[0].salas[0].ares_condicionados[index].id %>">
                                            <input id="id_controlador_mobile<%= index + 1 %>" type="hidden" value="<%= predios[0].salas[0].ares_condicionados[index].controlador.macAddress %>">
                                        <% } %>
                                        <div class="circle-mobile<%= index + 1 %> mt-3 mb-0">
                                            <div class="debug-mobile<%= index + 1 %>">
                                                <% 
                                                    const tempRaw = arCondicionado?.estado?.temp || 'off';
                                                    const tempValue = tempRaw === 'off' ? 'off' : tempRaw.replace('temp', '') + '°C';
                                                %>
                                                <input id="rangeArMobile<%= arCondicionado.id %>" class="form-control rangeArMobile" value="<%= tempValue %>" type="text" min="18" max="25" step="1" onmousedown="return false;" disabled>
                                            </div>
                                            <div id="dot-mobile<%= index + 1 %>" class="dot-mobile<%= index + 1 %>" onTouchStart="bloquearRolagem()" onTouchEnd="dotMobileChanged(<%= index + 1 %>, <%= arCondicionado.id %>)"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) } %>
                    </div>
                    
                    
                    
                    <!-- Seleção de Prédios - Desktop -->
                    <div class="row predios-desktop mt-5 col-auto">
                        <select id="selectPredio" class="form-select">
                            <% predios.forEach(element=> { %>
                                <option value="<%= element.id %>">
                                    <%= element.nome %>
                                </option>
                                <% }) %>
                        </select>
                    </div>

                    <!-- Modal de Seleção de Salas - Desktop -->
                    <div class="salas-desktop mt-5 justify-content-between">
                        <div class="modal fade" id="trocaSala" tabindex="-1" aria-labelledby="trocaSalaLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <h4>Deseja realmente trocar de sala?</h4>
                                        <div class="row d-flex justify-content-center mt-4">
                                            <div class="d-flex justify-content-around col-9">
                                                <button class="btn col-auto">Trocar</button>
                                                <button class="btn cancelar col-auto">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Seleção de Salas - Desktop -->
                    <div>
                        <div id="salasContainer" class="row justify-content-start">
                            <% var index=0 %>
                            <% if(predios.length > 0 && predios[0].salas && predios[0].salas.length > 0) {
                                predios[index].salas.forEach(element=> { %>
                                <div onclick="trocaSala(this)" class="btn me-3 mb-4 sala col-2 text-center p-2 col-auto">
                                    <%= element.nome %>
                                </div>
                            <% })} %>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer"></div>

    <script>
        let div_id; 
        let input_controlador_id;
        let input_ar_condicionado_id;

        function alteraIdDivSelecionada(id, inputControladorId, inputArCondicionadoId) {
            div_id = 'temp_' + id;
            input_controlador_id = inputControladorId;
            input_ar_condicionado_id = inputArCondicionadoId;
            atualizaControladorSelecionado(inputControladorId);
            
            let inputAr = document.getElementById(div_id);
            let inputRange = document.getElementById('rangeAr2');
            inputRange.value = inputAr.textContent

            let temperatura = parseInt(inputRange.value.replace('°C', ''));
            const angulo = ((temperatura - 18) / 7) * 360;
            $(".dot2").css("transform", "rotate(" + angulo + "deg)");
        }
            

        // Atualiza controlador
        function atualizaControladorSelecionado(id_controlador_selecionado) {
            let inputControlador = document.getElementById("id_controlador");
            let inputControladorSelecionado = document.getElementById(id_controlador_selecionado);
            if(inputControladorSelecionado) {
                const macAddress = inputControladorSelecionado.value;
                inputControlador.value = macAddress;
            }
            let inputArSelecionado = document.getElementById('id_arcondicionado');

            if(typeof(input_ar_condicionado_id) != "undefined") {
                inputArSelecionado.value = document.getElementById(input_ar_condicionado_id).value.trim();
            }
        }

        function altera() {
            let inputModal = document.getElementById("rangeAr2");
            let temperatura = inputModal.value;
            let p = document.getElementById(div_id);
            p.innerHTML = temperatura;
            enviarComando(temperatura.replace('°C', ''));
        }


        function desligarAr() {
            let p = document.getElementById(div_id);
            p.innerHTML = "off";
            enviarComando("off");
        }

        

        // ATUALIZA SALAS
        var predios = JSON.parse('<%- JSON.stringify(predios) %>');
    
        document.getElementById('selectPredio').addEventListener('change', function () {
            var selectedPredioId = this.value;
    
            var predioSelecionado = predios.find(function (predio) {
                return predio.id == selectedPredioId;
            });
    
            document.getElementById('salasContainer').innerHTML = "";
            predioSelecionado.salas.forEach(function (sala) {
                var salaElement = document.createElement('div');
                salaElement.setAttribute('onclick', 'trocaSala(this)')
                salaElement.className = "btn sala  me-3 mb-4 col-2 text-center p-2 col-auto";
                salaElement.textContent = sala.nome;    
                document.getElementById('salasContainer').appendChild(salaElement);
            });
        });
        
        //Seleção do menu
        var selecionado = document.getElementById('home');
        selecionado.classList.add('menu-selecionado');
    </script>

    <!-- Script Versão Mobile -->
    <script>
        function dotMobileChanged(dotIndex, airId) {
            desbloquearRolagem();
            let switchCheckId = "flexSwitchCheckDefault" + dotIndex; 
            let switchCheck = document.getElementById(switchCheckId);
            switchCheck.checked = true;
            let inputTempId = "rangeArMobile" + airId;
            let inputTempMobile = document.getElementById(inputTempId);
            let temperatura = inputTempMobile.value;
            input_controlador_id = "id_controlador_mobile" + dotIndex;
            input_ar_condicionado_id = "id_ar_condicionado_mobile" + dotIndex;
            atualizaControladorSelecionado(input_controlador_id);
            enviarComando(temperatura);

        }

        function switchMobileChanged (dotIndex, airId) {
            let switchCheckId = "flexSwitchCheckDefault" + dotIndex; 
            let switchCheck = document.getElementById(switchCheckId);

            input_controlador_id = "id_controlador_mobile" + dotIndex;
            input_ar_condicionado_id = "id_ar_condicionado_mobile" + dotIndex;
            atualizaControladorSelecionado(input_controlador_id);

            if(switchCheck.checked) {
                let inputTempId = "rangeArMobile" + airId;
                let inputTempMobile = document.getElementById(inputTempId);
                let temperatura = inputTempMobile.value === "off" ? "24" : inputTempMobile.value ;
                enviarComando(temperatura);
                return;
            }
            enviarComando("off");
            return;
        }

        function bloquearRolagem() {
            document.body.style.overflowY = "hidden";
        }

        function desbloquearRolagem() {
            document.body.style.overflowY = "";
        }
        
    </script>
    
    <script>
        
        function trocaSala(divSala) {
            var predio1 = JSON.parse('<%- JSON.stringify(predios) %>');
            var predioId = document.getElementById('selectPredio').value
            var predioSelecionado
            var salaSelecionada
            
            predio1.forEach(predio => {
                if (predio.id == predioId) {
                    predioSelecionado = predio
                }
            });
            
            if(!predioSelecionado) {
                return;
            }
            
            predioSelecionado.salas.forEach(sala => {
                if(sala.nome == divSala.textContent.trim()){
                    salaSelecionada = sala
                }
            })
            
            if(!salaSelecionada) {
                return;
            }
            
            let divSeletor1 = document.getElementById('seletorAr1');
            let tempDiv1 = divSeletor1.querySelector(".temperatura");

            let divSeletor2 = document.getElementById('seletorAr2')
            let tempDiv2 = divSeletor2.querySelector(".temperatura");
            
            let divSeletorMobile1 = document.getElementById('controleArMobile1')
            let divSeletorMobile2 = document.getElementById('controleArMobile2')
            let tempMobile1 = divSeletorMobile1.querySelector(".rangeArMobile");
            let tempMobile2 = divSeletorMobile2.querySelector(".rangeArMobile");
            let divDotMobile1 = document.getElementById('dot-mobile1');
            let divDotMobile2 = document.getElementById('dot-mobile2');
            let switchMobile1 = document.getElementById('flexSwitchCheckDefault1');
            let switchMobile2 = document.getElementById('flexSwitchCheckDefault2');
            
            if(salaSelecionada.ares_condicionados[0]) {
                let inputArId = document.getElementById('id_ar_condicionado1')
                let inputArMobileId = document.getElementById('id_ar_condicionado_mobile1')
                let strongNomeAr = document.getElementById('nome_ar1')
                let strongNomeArMobile = document.getElementById('nome_ar_mobile1')
                let inputControladorId = document.getElementById('id_controlador1')
                let predio = document.getElementById('predio_ar1')
                let sala = document.getElementById('sala_ar1')
                let airId = salaSelecionada.ares_condicionados[0].id;
                if (tempDiv1) tempDiv1.id = "temp_" + airId
                if (tempMobile1) tempMobile1.id = "rangeArMobile" + airId;

                divSeletor1.onclick = () => {
                    alteraIdDivSelecionada(airId, 'id_controlador1', 'id_ar_condicionado1');
                };

                divDotMobile1.ontouchend = () => {
                    dotMobileChanged(1, airId);
                };

                switchMobile1.setAttribute('data-air-id', airId);
                switchMobile1.onchange= () => {
                    switchMobileChanged(1, airId);
                };
                
                inputArId.value = airId
                inputArMobileId.value = airId
                strongNomeAr.textContent = salaSelecionada.ares_condicionados[0].nome
                strongNomeArMobile.textContent = salaSelecionada.ares_condicionados[0].nome
                inputControladorId.value = salaSelecionada.ares_condicionados[0].controlador.macAddress
                predio.textContent = predio1[predioId - 1].nome
                sala.textContent = salaSelecionada.nome
                
                socket.emit("getAirConditionerTemperature", {ar_id: inputArId.value});
                
                divSeletor1.style.visibility = "visible";
                divSeletorMobile1.style.visibility = "visible";
            } else {
                divSeletor1.style.visibility = "hidden";
                divSeletorMobile1.style.visibility = "hidden";
            }
            
            if(salaSelecionada.ares_condicionados[1]) {
                let inputArId = document.getElementById('id_ar_condicionado2')
                let inputArMobileId = document.getElementById('id_ar_condicionado_mobile2')
                let strongNomeAr = document.getElementById('nome_ar2')
                let strongNomeArMobile = document.getElementById('nome_ar_mobile2')
                let inputControladorId = document.getElementById('id_controlador2')
                let predio = document.getElementById('predio_ar2')
                let sala = document.getElementById('sala_ar2')
                let airId = salaSelecionada.ares_condicionados[1].id;

                if (tempDiv2) tempDiv2.id = "temp_" + airId;;
                if (tempMobile2) tempMobile2.id = "rangeArMobile" + airId;
                
                divSeletor2.onclick = () => {
                    alteraIdDivSelecionada(airId, 'id_controlador2', 'id_ar_condicionado2');
                };
                
                divDotMobile2.ontouchend = () => {
                    dotMobileChanged(2, airId);
                };

                switchMobile2.setAttribute('data-air-id', airId);
                switchMobile2.onchange= () => {
                    switchMobileChanged(2, airId);
                };

                inputArId.value = airId;
                inputArMobileId.value = airId;
                strongNomeAr.textContent = salaSelecionada.ares_condicionados[1].nome
                strongNomeArMobile.textContent = salaSelecionada.ares_condicionados[1].nome
                inputControladorId.value = salaSelecionada.ares_condicionados[1].controlador.macAddress
                predio.textContent = predio1[predioId - 1].nome
                sala.textContent = salaSelecionada.nome
                
                socket.emit("getAirConditionerTemperature", {ar_id: inputArId.value});
                
                divSeletor2.style.visibility = "visible";
                divSeletorMobile2.style.visibility = "visible";
            } else {
                divSeletor2.style.visibility = "hidden";
                divSeletorMobile2.style.visibility = "hidden";
            }
            
            document.getElementById('span1').innerHTML = "";
            var aux1 = document.createElement('strong');
            aux1.textContent = divSala.textContent + " - " + predioSelecionado.nome;
            document.getElementById('span1').appendChild(aux1);

            setTimeout(function() {
                updateSliderPositions();
            }, 500);
        }

        function updateSliderPositions() {
            let div1 = document.querySelector('.debug-mobile1');
            if (div1) {
                let input1 = div1.querySelector('input');
                if (input1) {
                    let temperatura1 = parseInt(input1.value.replace('°C', '')) || 18;
                    const angulo1 = ((temperatura1 - 18) / 7) * 360;
                    $(".dot-mobile1").css("transform", "rotate(" + angulo1 + "deg)");
                }
            }
            
            let div2 = document.querySelector('.debug-mobile2');
            if (div2) {
                let input2 = div2.querySelector('input');
                if (input2) {
                    let temperatura2 = parseInt(input2.value.replace('°C', '')) || 18;
                    const angulo2 = ((temperatura2 - 18) / 7) * 360;
                    $(".dot-mobile2").css("transform", "rotate(" + angulo2 + "deg)");
                }
            }
            
            let modalInput = document.getElementById('rangeAr2');
            if (modalInput) {
                let temperaturaModal = parseInt(modalInput.value.replace('°C', '')) || 18;
                const anguloModal = ((temperaturaModal - 18) / 7) * 360;
                $(".dot2").css("transform", "rotate(" + anguloModal + "deg)");
            }
        }
    </script>       

    <script>
        // Ar-condicionado 02
        let temperatura2Range = document.getElementById("temperatura2Range");
        let temperaturaSelecionada2 = document.getElementById("temperaturaSelecionada2");


        temperatura2Range.addEventListener("input", function() {
            temperaturaSelecionada2.textContent = temperatura2Range.value;
        });

        // Range circular ar-condicionados desktop
        $(document).ready(function(){
            let is_dragging = false;
            $(document).on("mousedown touchstart",".circle",function(e){
                is_dragging = true;
            });
            $(document).on("mouseup touchend",function(e){
                is_dragging = false;
            });
            $(document).on("mousemove touchmove",function(e){
                if(is_dragging){
                let circle = $(".circle")
                let touch = undefined;
                if (e.originalEvent.touches){
                    let touch = e.originalEvent.touches[0];
                }
                let center_x = ($(circle).outerWidth() / 2) + $(circle).offset().left;
                let center_y = ($(circle).outerHeight() / 2) + $(circle).offset().top;
                let pos_x = (e.pageX || touch.pageX);
                let pos_y = (e.pageY || touch.pageY);
                let delta_y =  center_y - pos_y;
                let delta_x = center_x - pos_x;
                let angle = Math.atan2(delta_y, delta_x) * (180 / Math.PI);
                angle -= 90;
                if (angle < 0){
                    angle = 360 + angle;
                }
                angle = Math.round(angle);
                let minimo = document.getElementById('rangeAr2').getAttribute('min');
                let qtdTemperaturas = document.getElementById('rangeAr2').getAttribute('max') - document.getElementById('rangeAr2').getAttribute('min')

                $(".dot2").css("transform", "rotate("+angle+"deg)");
                $(".debug2 input").val(Math.round(angle * qtdTemperaturas/360 + parseInt(minimo)) + "°C");
                }
            });
            $(".debug input").on('change',function(){
                angle = $(this).val()/360*360;
                $(".dot2").css("transform", "rotate("+angle + 18 +"deg)");
            })
        });

        // Range circular ar-condicionados mobile (1)
        $(document).ready(function(){
            var is_dragging = false;
            $(document).on("mousedown touchstart",".circle-mobile1",function(e){
                is_dragging = true;
            });
            $(document).on("mouseup touchend",function(e){
                is_dragging = false;
            });
            $(document).on("mousemove touchmove",function(e){
                if(is_dragging){
                var circle = $(".circle-mobile1")
                var touch = undefined;
                if (e.originalEvent.touches){
                    var touch = e.originalEvent.touches[0];
                }
                var center_x = ($(circle).outerWidth() / 2) + $(circle).offset().left;
                var center_y = ($(circle).outerHeight() / 2) + $(circle).offset().top;
                var pos_x = (e.pageX || touch.pageX);
                var pos_y = (e.pageY || touch.pageY);
                var delta_y =  center_y - pos_y;
                var delta_x = center_x - pos_x;
                var angle = Math.atan2(delta_y, delta_x) * (180 / Math.PI);
                angle -= 90;
                if (angle < 0){
                    angle = 360 + angle;
                }
                angle = Math.round(angle);
                // var minimo = document.getElementById('rangeArMobile1').getAttribute('min');
                // var qtdTemperaturas = document.getElementById('rangeArMobile1').getAttribute('max') - document.getElementById('rangeArMobile1').getAttribute('min')
                var minimo = 18;
                var qtdTemperaturas = 25 - minimo;

                $(".dot-mobile1").css("transform", "rotate("+angle+"deg)");
                $(".debug-mobile1 input").val(Math.round(angle * qtdTemperaturas/360 + parseInt(minimo)) + "°C");
                }
            });
            $(".debug input").on('change',function(){
                angle = $(this).val()/360*360;
                $(".dot-mobile1").css("transform", "rotate("+angle + 18 +"deg)");
            })
            let div = document.querySelector('.debug-mobile1');
            let temperatura = parseInt(div.querySelector('input').value.replace('°C', ''));
            const angulo = ((temperatura - 18) / 8) * 360;
            $(".dot-mobile1").css("transform", "rotate(" + angulo + "deg)");
        });

        // Range circular ar-condicionados mobile (2)
        $(document).ready(function(){
            let is_dragging = false;
            $(document).on("mousedown touchstart",".circle-mobile2",function(e){
                is_dragging = true;
            });
            $(document).on("mouseup touchend",function(e){
                is_dragging = false;
            });
            $(document).on("mousemove touchmove",function(e){
                if(is_dragging){
                let circle = $(".circle-mobile2")
                let touch = undefined;
                if (e.originalEvent.touches){
                    let touch = e.originalEvent.touches[0];
                }
                let center_x = ($(circle).outerWidth() / 2) + $(circle).offset().left;
                let center_y = ($(circle).outerHeight() / 2) + $(circle).offset().top;
                let pos_x = (e.pageX || touch.pageX);
                let pos_y = (e.pageY || touch.pageY);
                let delta_y =  center_y - pos_y;
                let delta_x = center_x - pos_x;
                let angle = Math.atan2(delta_y, delta_x) * (180 / Math.PI);
                angle -= 90;
                if (angle < 0){
                    angle = 360 + angle;
                }
                angle = Math.round(angle);
                // let minimo = document.getElementById('rangeArMobile2').getAttribute('min');
                // let qtdTemperaturas = document.getElementById('rangeArMobile2').getAttribute('max') - document.getElementById('rangeArMobile2').getAttribute('min')

                let minimo = 18;
                let qtdTemperaturas = 25 - minimo;

                $(".dot-mobile2").css("transform", "rotate("+angle+"deg)");
                $(".debug-mobile2 input").val(Math.round(angle * qtdTemperaturas/360 + parseInt(minimo)) + "°C");
                }
            });
            $(".debug-mobile2 input").on('change',function(){
                angle = $(this).val()/360*360;
                $(".dot-mobile2").css("transform", "rotate("+angle + 18 +"deg)");
            })
            let div = document.querySelector('.debug-mobile2');
            let temperatura = parseInt(div.querySelector('input').value.replace('°C', ''));
            const angulo = ((temperatura - 18) / 8) * 360;
            $(".dot-mobile2").css("transform", "rotate(" + angulo + "deg)");
        });
        
    </script>

    <script>

        function alteraTemperatura(data){
            const visorTempDesktop = document.getElementById("temp_" + data.ar_id);
            const visorTempModalDesktop = document.getElementById('rangeAr2');
            const visorTempMobile = document.getElementById("rangeArMobile" + data.ar_id);
            const temperatura = data.temperature.replace('temp','') === "off" ? "off" : data.temperature.replace('temp','') + '°C';
            const switchMobile = document.querySelector(`input[data-air-id='${data.ar_id}']`);
            if(visorTempDesktop) visorTempDesktop.textContent = temperatura;
            if(visorTempModalDesktop) visorTempModalDesktop.value = temperatura;
            if(visorTempMobile) visorTempMobile.value = temperatura;
            if(switchMobile) {
                switchMobile.checked = temperatura === "off" ? false : true;
            }
            updateSliderPositions();
        }

    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const user  = JSON.parse('<%- JSON.stringify(user) %>');

        const socket = io();

        socket.on('moduleConnectionStatus', (connectionStatus) => { // Nessa função fazer as modificações no front, formato esperado { isModuleConnected, macAddress }
        })

        socket.on("airConditionerTemperatureResponse", (data) => { // retorno do evento de busca de temperatura
            alteraTemperatura(data);            
        });

        function enviarComando(temperatura) {
            const id_controlador = document.getElementById("id_controlador").value;
            const id_arcondicionado = document.getElementById('id_arcondicionado').value;
            socket.emit('enviarComandoAr', {id_controlador, id_arcondicionado, temperatura, user});
        }

        function emitModuleConnectionCheck(macAddress) {
            socket.emit('checkModuleConnection', macAddress);
        }
        
        emitModuleConnectionCheck('MacAddress Aqui'); // Precisa chamar ao carregar a página para cada ar-condicionado

    </script>

</body>
</html>