<div class="modal fade" id="addArCondicioando" tabindex="-1" aria-labelledby="addArCondicioando" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar ar-condicionado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <form action="/predio/<%= sala.predio_id %>/sala/<%= sala.id %>/ar-condicionado/store" method="post">
                
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" name="nome" required>
                    </div>
                    
                    <div>
                        <label for="marca" class="form-label">Marca</label>
                        <select id="marcaS" class="form-select" name="marca_id" required>
                            <option disabled>Selecione uma marca</option>
                            <% if (marcas.length > 0) { %>
                                <% marcas.forEach( marca => { %>
                                <option value="<%= marca.id %>">
                                    <%= marca.nome %>
                                </option>
                                <% }); %>
                            <% } %>
                        </select>
                    </div>

                    <div>
                        <a href="" data-bs-target="#createMarca" data-bs-toggle="modal"> Adicionar nova marca </a>
                    </div>

                    <div class="modelo error"></div>

                    <div class="card p-2 mt-3">
                        <label class="form-label">Modelo</label>
                        <div id="modelosS" class="d-flex flex-column">
                            <!-- TODO: REFAZER ESSA LÓGICA PARA FICAR DINÂMICA -->
                            <% marcas[0].modelos.forEach(modelo => { %>
                                <div class="form-check col-8">
                                    <input class="form-check-input" type="radio" id="modelo_<%= modelo.id %>" value="<%= modelo.id %>" name="modelo_id" required>
                                    <label class="form-check-label" for="modelo_<%= modelo.id %>">
                                        <%= modelo.nome %>
                                    </label>
                                </div>
                            <% }) %>
                        </div>
                        <div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" id="novoModelo" name="modelo_id"
                                    data-bs-toggle="collapse" data-bs-target="#collapseNovoModelo" aria-expanded="false"
                                    aria-controls="collapseNovoModelo" />
                                <label class="form-check-label" for="novoModelo"> Novo modelo?</label>
                            </div>

                            <div class="collapse mt-2" id="collapseNovoModelo">
                                <div class="card card-body">
                                    <div class="mb-1">
                                        <label for="nomeNovoModelo" class="form-label">Nome do novo modelo*</label>
                                        <input type="text" class="form-control" name="nomeNovoModelo"
                                            id="nomeNovoModelo"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-2 mt-3">
                        <label class="form-label">Controlador</label>
                        <div class="d-flex flex-column">
                            <% controladores.forEach(controlador => { %>
                                <div class="form-check col-8">
                                    <input class="form-check-input" type="radio" id="controlador_<%= controlador.id %>" value="<%= controlador.id %>" name="controlador_id" required>
                                    <label class="form-check-label" for="controlador_<%= controlador.id %>">
                                        <%= controlador.macAddress %>
                                    </label>
                                </div>
                            <% }) %>
                        </div>
                        <div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" id="novoControlador" name="controlador_id"
                                    data-bs-toggle="collapse" data-bs-target="#collapseNovoControlador"
                                    aria-expanded="false" aria-controls="collapseNovoControlador" />
                                <label class="form-check-label" for="novoControlador"> Novo controlador?</label>
                            </div>

                            <div class="collapse mt-2" id="collapseNovoControlador">
                                <div class="card card-body">
                                    <div class="mb-1">
                                        <label for="macAdressNovoControlador" class="form-label">macAddress*</label>
                                        <input type="text" class="form-control" name="macAdressNovoControlador"
                                            id="macAdressNovoControlador"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="pinEmissor" class="form-label">pinEmissor*:</label>
                        <select id="selectPin" name="pinEmissor" class="form-select" required>
                            <option value="04">04</option>
                            <option value="00">00</option>
                            <option value="02">02</option>
                            <option value="05">05</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                        </select>
                    </div>
                    
                    <div hidden>
                        <input type="text" value="<%= sala.id %>" name="sala_id">
                    </div>

                    <div class="modal-footer">
                        <div class="row col-12 d-flex justify-content-end salvar">
                            <button type="submit" class="btn btn-primary mt-5 col-2">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Obter elementos de marca e modelo
    const marcaSelect = document.getElementById('marcaS');
    const modeloSelect = document.getElementById('modelosS');
    const marcasAr = JSON.parse('<%- JSON.stringify(marcas) %>')
    marcaSelect.addEventListener('change', function () {
        const selectedMarcaId = this.value;

        const marcaSelected = marcasAr.find(marca => marca.id == selectedMarcaId)

        modeloSelect.innerHTML = '';


        marcaSelected.modelos.forEach(modelo => {
            const div = document.createElement('div');
            div.classList.add('form-check', 'col-8');

            const input = document.createElement('input');
            input.classList.add('form-check-input');
            input.type = 'radio';
            input.id = `modeloEdit_${modelo.id}`;
            input.value = modelo.id;
            input.name = 'modelo_id';
            input.required = true;

            const label = document.createElement('label');
            label.classList.add('form-check-label');
            label.htmlFor = `modeloEdit_${modelo.id}`;
            label.textContent = modelo.nome;

            div.appendChild(input);
            div.appendChild(label);
            modeloSelect.appendChild(div);
        });
    })

</script>